.container {
  background-color: none;
  grid-gap: 20px;
  font-size: medium;
  font-size: medium;
  font-family: "Montserrat", sans-serif;
}

.h1 {
  color: rgb(39, 39, 39);
  font-size: small;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  padding-top: 25px;
  padding-left: 50px;
}

.categories {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 50px;
}

.button {
  background: #d78383;
  color: white;
  cursor: pointer;
  text-transform: none;
  padding: 10px;
  transition: all 0.5s;
  font-family: sans-serif;
  margin-top: 1rem;
  border: none;
  border-radius: 8px;
  width: 20rem;
  font-family: "Montserrat", sans-serif;
}

button:hover {
  background-color: black;
}
